<li class="collection-item #ffab40 orange accent-2 hoverable" >
    
    <p>{{burger_name}}</p>

    {{!-- <div class="divider"></div>
    
    <br> --}}

    <button class="change-devoured btn-small waves-light waves-effect #e65100 orange darken-4 hoverable" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}EAT IT!{{else}}Regurgitate{{/if}}
    </button>

    <button class="delete-burger btn-small waves-light waves-effect hoverable #ffc107 amber" data-id="{{this.id}}">DELETE!</button>

    

</li>