<li class="collection-item #ffab40 orange accent-2" >
    {{burger_name}} 

    <div class="divider"></div>
    
    <br>

    <button class="change-devoured btn-small waves-light waves-effect" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}EAT IT!{{else}}Regurgitate{{/if}}
    </button>

    <button class="delete-burger btn-small waves-light waves-effect" data-id="{{this.id}}">DELETE!</button>

    

</li>